body{
  background-color: bisque;
}

.App {
  text-align: center;
  background-color: rgba(253, 206, 149, 0.283);
  font-size: 40px;
}

h1{
  font-size: 60px;
}

.inputBox{
  font-size: 40px;
  border: solid black 4px;
  margin: 50px;
}

.addButton{
  font-size: 40px;
}

.button1{
  font-size: 40px;
  margin: 20px; 
  color: rgb(82, 194, 65);
  background-color: rgb(44, 43, 43);
}

.button2{
  font-size: 40px;
  margin: 20px;
  color: rgb(157, 65, 65);
  background-color: rgb(44, 43, 43);
}